* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2f4f4f;
}

h1 {
  font-size: 23px;
  font-weight: 500;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar .navTitle {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.navbar .navLink {
  display: flex;
  margin: 0;
}

.navbar .navLink li {
  list-style: none;
  font-size: 19px;
  padding: 0 15px;
}

.navbar .navLink li a:-webkit-any-link {
  color: #696969;
}

.navbar .navLink li:nth-child(2n) {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: none;
  background-color: #fff;
  border: none;
}

.hamburger span {
  background-color: #2f4f4f;
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
  transition-duration: 500ms;
}

.hamburger span:nth-child(1) {
  top: 0;
  left: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
  left: 0;
  opacity: 1;
}

.hamburger span:nth-child(3) {
  bottom: 0;
  left: 0;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}

/* home */
.home {
  padding: 20px 50px;
}

.homeTitle {
  margin-bottom: 10px;
}

.homePara {
  margin: 25px 0;
}

/* calculator */
.calculator {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 370px;
  display: grid;
  grid-template-columns: 70px 70px 70px 70px;
  gap: 10px;
  padding: 30px;
  background-color: #708090;
  border-radius: 10px;
}

.container > button {
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #696969;
  box-shadow: 0 4px 1px #2f4f4f;
}

.container > button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.container .sign {
  font-size: 20px;
  background-color: #808080;
}

.container .AC {
  font-size: 14px;
}

.container .result {
  font-size: 28px;
  font-weight: 600;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: end;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  color: #2f4f4f;
  background-color: #D3D3D3;
}

.container .zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.container .yellow {
  background-color: #ffa500;
}

/* quote */
.quotePara {
  text-align: center;
  margin-top: 60px;
  font-size: 21px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .navbar .navTitle {
    font-size: 26px;
  }

  .navbar .navTitle.open {
    opacity: 0;
  }

  .navbar .navLink {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: 2s 1 slidein;
  }

  .navbar .navLink li {
    font-size: 17.5px;
    font-weight: 500;
    text-decoration: none;
  }

  .navbar .navLink li a:-webkit-any-link {
    text-decoration: none;
  }

  .navbar .navLink.open {
    display: flex;
  }

  @keyframes slidein {
    from {
      left: 70%;
    }

    to {
      left: 50%;
    }
  }

  .hamburger {
    display: inline-block;
  }

  /* calculator */
  .calculator {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    align-items: center;
  }

  .container {
    width: 330px;
    display: grid;
    grid-template-columns: 65px 65px 65px 65px;
    gap: 10px;
    padding: 20px;
  }
  
  .container > button {
    padding: 15px 0;
    font-size: 20px;
    font-weight: 600;
  }

  /* quote */
  .quotePara {
    padding: 0px 20px;
    margin-top: 40px;
    font-size: 19px;
  }
}

@media screen and (max-width: 321px) {
  .navbar .navLink li {
    font-size: 16px;
    padding: 0 10px;
  }
}