.container {
  width: 500px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.container > button {
  border: 1px solid #9f9f9f;
  text-align: center;
  padding: 25px 0;
  font-size: 25px;
}

.container > button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.container .result {
  font-size: 25px;
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: end;
  padding: 25px 15px 25px 0;
  background-color: #bdbdbd;
}

.container .zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

.container .yellow {
  background-color: #ff8031;
}
